


$fundo: #1f2a2e; //azul petróleo escuro
$fundo-claro: #5E6F73; //azul acinzentado
$laranja-dourado: #E29A4A; //laranja dourado
$laranja-queimado: #C87432; //laranja queimado
$marrom-escuro: #2B2623; //marrom escuro
$text: #F1D6A3; //bege claro
$marrom-medio: #8B4E2A; //marrom médio

// ===============================
// Cabelos – Paleta principal
// ===============================

// Verde
$hair-green-main:  #39ff88; // verde neon principal (bem vibrante)
$hair-green-light: #7dffb3; // verde claro luminoso (brilho)
$hair-green-dark:  #1fbf6a; // verde escuro ainda saturado


// Ruivo
$hair-red-main: #8a4b3a;
$hair-red-light: #a96350;
$hair-red-dark: #6a3529;

// Loiro
$hair-blonde-main: #c9b08a;
$hair-blonde-light: #e1c9a3;
$hair-blonde-dark: #a8906b;

// Castanho escuro
$hair-brown-main:  #f5f7fa; 
$hair-brown-light: #cfd6e0; 
$hair-brown-dark:  #8a93a3; 
// Azul / Ciano
$hair-blue-main: #2a8fa1;
$hair-blue-light: #4bb0c1;
$hair-blue-dark: #1f6a76;


$bg-cool: #242628; // azul
$bg-green: #252822;
$bg-gold: #2D2923;
$bg-brown: #1F1C1A;



$neon-blue-main:  #38e1ff;
$neon-blue-light: #8ff1ff;
$neon-blue-dark:  #118fa6;
$bg-0: #141c1f; // fundo máximo (body)
$bg-1: #1f2a2e; // seu fundo principal
$bg-2: #2b3a3f; // card / modal
$bg-3: #3c4e53; // hover / destaque
$bg-4: #5e6f73; // sua cor clara
